.Nav{
    margin-top: 40px;
     padding: 0px 260px ;
    .logo{
        display: flex;
        font-size: 2rem;
        font-weight: bold;
        .YellowText{
            color: rgb(255, 166, 0);
        }
    }
    
}