.Nav{ color: aliceblue;
    margin-top: 20px;
   width: 100%;
   background-color: rgb(12, 45, 45);
   background-size: 100%;
   &__elements{
    display: flex;
    margin: 0px 280px;
    select{
    color: aliceblue;
   background-color: rgb(12, 45, 45);
    border: none;
   }
   .menu{
      display: flex;
justify-content: space-between;
   }
   #ok{
    padding: 10px 30px;
   }
   .home{
           background-color: rgb(251, 191, 79);

   }
  
}
}