.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    i{  align-items: center;
        justify-content: center;
         width: max-content;
        height: max-content;
        background-color: rgb(92, 255, 11);
        padding: 5px 7px;
        border-radius: 50%;
        color: black;
    }
    &__Music{
      
        font-size: 1.5rem;
    }
}